<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Recipe Form:</h1>
    <form action="/recipes" method="post">
      <h3>Recipe Name:</h3><input type="text" name="name">
      <h3>Ingredients</h3><input type="text" name="ingredients">
      <h3>Cook Time:</h3><input type="text" name="cook_time">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
